parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 1
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    paths:
        - admin/class-wp-post-nav-admin.php
        - includes/class-wp-post-nav-activator.php
        - includes/class-wppn-settings.php
        - includes/class-wppn-migrations.php
        - includes/class-wppn-customizer.php
        - includes/class-wp-post-nav-deactivator.php
        - includes/class-wp-post-nav-i18n.php
        - includes/class-wp-post-nav-loader.php
        - includes/class-wp-post-nav-shortcode.php
        - includes/class-wp-post-nav.php
        - public/class-wp-post-nav-public.php
        - uninstall.php
        - wp-post-nav.php
    excludePaths:
        - tags/*
        - assets/*
        - build/*
        - vendor/*
